<div>
  <div class="margin">
    <div class="flex-child">
      <input class="search-bar" type="text" placeholder="Search a city, state" #location>
      <button type="button" (click)="getLocationData(location.value)">Search</button>
    </div>
  </div>
  <div *ngIf="results" class="margin">
    <div class="flex-container box-shadow">
      <div class="flex-child">
        <h2 class="text">Current city: {{results.location.name}}</h2>
        <p class="text">Local time: {{ localTime }}</p>
        <P class="text">Current weather: {{ results.current.condition.text}}</P>
        <p class="text">Current temperature: {{ ifFahrenheit ? results.current.temp_f + 'F' : results.current.temp_c + 'C'}}</p>
        <p class="text">Feels like: {{ ifFahrenheit ? results.current.feelslike_f + 'F' : results.current.feelslike_c + 'C'}}</p>
        <label class="switch">
          <input type="checkbox" (click)="toggleIfFahrenheit()">
          <span class="slider round"></span>
        </label>
        <p class="text">Show temp in Celsius?</p>
      </div>
  
      <div class="flex-child">
        <img [src]="results.current.condition.icon" class="weather-icon">
      </div>
    </div>
    <div>
      <h1>Products to buy to help with the weather</h1>
    </div>
  </div>
  <div *ngIf="!results">
    <h1>No results. Sorry.</h1>
  </div>
</div>


<router-outlet />
